 <div class="media-body">
         <h2 class="media-heading"><%= "#{@user.name} Tasks" %></h2>
<p>
<% if current_user %>

<%= link_to "New", new_task_path, class: 'btn btn-success' %>
<% @tasks.each do |task|%> 
<div id=<%="task-#{task.id}"%>> 
  <br>
  <h3><%= task.body %><small> <%= task.complete ? "Completed" : "Pending" %></small> </h3> <%= link_to "Complete", task_complete_path(task), method: :put, class: "btn btn-success" %>

  <p> <%="This task will delete in #{task.days_left} days" %></p>

<%= link_to "Edit", edit_task_path(task), class: 'btn btn-success' %>
  <%= link_to "Delete", task, method: :delete, class: 'btn btn-success', remote: true %>
  <%= link_to "", task, method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
  <br>
</div>
  <% end %>
   
<% end %>
</p>
</div>